---
import { Typography } from '@/components'
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'a'> {}
---

<a {...Astro.props}>
  <Typography
    tag={'li'}
    variant={'sidecard_body'}
    color={'none'}
    class='hover:bg-accent-cta text-neutral-white hover:text-neutral-dark bg-neutral-600/70 rounded px-2'
    ><slot>Link without name</slot>
  </Typography>
</a>
