---
import { Typography, BorderText, BaseContainer, LinkButton } from '@/components'
---

<BaseContainer variant={'section'}>
  <Typography
    as={'h2'}
    variant={'title'}
    color={'neutral_dark'}
    class='mb-12'>
    <slot name='header'>No module slot header</slot>
  </Typography>

  <div class='grid grid-cols-2'>
    <div class='space-y-12'>
      <BorderText
        side={'bold_left'}
        style={'solid'}
        theme={'dark'}
        variant={'card'}
        borderColor={'accent_title'}>
        <slot
          name='card-header-1'
          slot='header'>
          No module slot card-header-1
        </slot>
        <slot
          name='card-body-1'
          slot='body'>
          No module slot card-body-1
        </slot>
      </BorderText>

      <BorderText
        side={'none'}
        style={'solid'}
        theme={'dark'}
        variant={'card'}
        borderColor={'accent_title'}>
        <slot
          name='card-header-2'
          slot='header'>
          No module slot card-header-2
        </slot>
        <slot
          name='card-body-2'
          slot='body'>
          No module slot card-body-2
        </slot>
      </BorderText>

      <BorderText
        side={'none'}
        style={'solid'}
        theme={'dark'}
        variant={'card'}
        borderColor={'accent_title'}>
        <slot
          name='card-header-3'
          slot='header'>
          No module slot card-header-3
        </slot>
        <slot
          name='card-body-3'
          slot='body'>
          No module slot card-body-3
        </slot>
      </BorderText>

      <LinkButton gradient={'accent_1'} class='ml-6'>
        <slot name='cta'>No module slot cta</slot>
      </LinkButton>
    </div>
  </div>
</BaseContainer>

<!-- Slots -->
<!-- 
    <slot
      name='ad-production-header'
      slot='header'>
      No layout slot ad-production-header
    </slot>
    <slot
      name='ad-production-card-header-1'
      slot='card-header-1'>
      No layout slot ad-production-card-header-1
    </slot>
    <slot
      name='ad-production-card-body-1'
      slot='card-body-1'>
      No layout slot ad-production-card-body-1
    </slot>
    <slot
      name='ad-production-card-header-2'
      slot='card-header-2'>
      No layout slot ad-production-card-header-2
    </slot>
    <slot
      name='ad-production-card-body-2'
      slot='card-body-2'>
      No layout slot ad-production-card-body-2
    </slot>
    <slot
      name='ad-production-card-header-3'
      slot='card-header-3'>
      No layout slot ad-production-card-header-3
    </slot>
    <slot
      name='ad-production-card-body-3'
      slot='card-body-3'>
      No layout slot ad-production-card-body-3
    </slot>
    <slot
      name='ad-production-body'
      slot='cta'>
      No layout slot ad-production-body
    </slot>
-->
