---
import {
  IconCard,
  BaseText,
  BaseContainer,
  PlaceholderIcon,
} from '@/components'

interface Props {
  id?: string
}

const { id } = Astro.props
---

<BaseContainer
  id={id}
  variant={'section'}
  class='flex flex-col justify-between'>
  <BaseText
    variant={'section'}
    theme={'dark'}>
    <slot
      name='header'
      slot='header'
      >No module slot header</slot
    >
    <slot
      name='body'
      slot='body'
      >No module slot body</slot
    >
  </BaseText>

  <div class='grid grid-cols-3 gap-x-6'>
    <IconCard
      variant={'dark'}
      shape={'fit'}>
      <slot
        name='card-icon-1'
        slot='icon'>
        <PlaceholderIcon variant={'dark'} />
      </slot>
      <slot
        name='card-header-1'
        slot='header'>
        No module slot card-header-1
      </slot>
      <slot
        name='card-body-1'
        slot='body'>
        No module slot card-body-1
      </slot>
    </IconCard>

    <IconCard
      variant={'dark'}
      shape={'fit'}>
      <slot
        name='card-icon-2'
        slot='icon'>
        <PlaceholderIcon variant={'dark'} />
      </slot>
      <slot
        name='card-header-2'
        slot='header'>
        No module slot card-header-2
      </slot>
      <slot
        name='card-body-2'
        slot='body'>
        No module slot card-body-2
      </slot>
    </IconCard>

    <IconCard
      variant={'dark'}
      shape={'fit'}>
      <slot
        name='card-icon-3'
        slot='icon'>
        <PlaceholderIcon variant={'dark'} />
      </slot>
      <slot
        name='card-header-3'
        slot='header'>
        No module slot card-header-3
      </slot>
      <slot
        name='card-body-3'
        slot='body'>
        No module slot card-body-3
      </slot>
    </IconCard>
  </div>
</BaseContainer>
