---
import { IconCard, BaseText, BaseContainer, PlaceholderIcon } from '@/components'
---

<BaseContainer
  variant={'section'}
  class='flex flex-col justify-between'>
  <BaseText
    variant={'section'}
    theme={'dark'}>
    <slot
      name='header'
      slot='header'
      >No module slot header</slot
    >
    <slot
      name='body'
      slot='body'
      >No module slot body</slot
    >
  </BaseText>

  <div class='grid grid-cols-3 gap-x-6'>
    <IconCard
      variant={'dark'}
      shape={'fit'}>
      <slot name="card-icon-1" slot="icon">
        <PlaceholderIcon variant={'dark'} />
      </slot>
      <slot
        name='card-header-1'
        slot='header'>
        No module slot card-header-1
      </slot>
      <slot
        name='card-body-1'
        slot='body'>
        No module slot card-body-1
      </slot>
    </IconCard>

    <IconCard
      variant={'dark'}
      shape={'fit'}>
      <slot name="card-icon-2" slot="icon">
        <PlaceholderIcon variant={'dark'} />
      </slot>
      <slot
        name='card-header-2'
        slot='header'>
        No module slot card-header-2
      </slot>
      <slot
        name='card-body-2'
        slot='body'>
        No module slot card-body-2
      </slot>
    </IconCard>

    <IconCard
      variant={'dark'}
      shape={'fit'}>
      <slot name="card-icon-3" slot="icon">
        <PlaceholderIcon variant={'dark'} />
      </slot>
      <slot
        name='card-header-3'
        slot='header'>
        No module slot card-header-3
      </slot>
      <slot
        name='card-body-3'
        slot='body'>
        No module slot card-body-3
      </slot>
    </IconCard>
  </div>
</BaseContainer>

<!-- Slots -->
<!-- 
    <slot
      name='creativity-header'
      slot='header'>
      No layout slot creativity-header
    </slot>
    <slot
      name='creativity-body'
      slot='body'>
      No layout slot creativity-body
    </slot>
    <slot
      name='creativity-card-icon-1'
      slot='card-icon-1'>
      <PlaceholderIcon variant={'dark'} />
    </slot>
    <slot
      name='creativity-card-header-1'
      slot='card-header-1'>
      No layout slot creativity-card-header- 1
    </slot>
    <slot
      name='creativity-card-body-1'
      slot='card-body-1'>
      No layout slot creativity-card-body- 1
    </slot>
    <slot
      name='creativity-card-icon-2'
      slot='card-icon-2'>
      <PlaceholderIcon variant={'dark'} />
    </slot>
    <slot
      name='creativity-card-header-2'
      slot='card-header-2'>
      No layout slot creativity-card-header- 2
    </slot>
    <slot
      name='creativity-card-body-2'
      slot='card-body-2'>
      No layout slot creativity-card-body- 2
    </slot>
    <slot
      name='creativity-card-icon-3'
      slot='card-icon-3'>
      <PlaceholderIcon variant={'dark'} />
    </slot>
    <slot
      name='creativity-card-header-3'
      slot='card-header-3'>
      No layout slot creativity-card-header- 3
    </slot>
    <slot
      name='creativity-card-body-3'
      slot='card-body-3'>
      No layout slot creativity-card-body- 3
    </slot>
-->