---
import {
  BgVideoContainer,
  BaseContainer,
  BaseText,
  LinkButton,
} from '@/components'

const Variants = {
  ['left']: 'flex-row',
  ['right']: 'flex-row-reverse',
}

export type Variant = keyof typeof Variants

interface Props {
  src: string
  id?: string
  variant?: Variant
}

const { src, id, variant = 'left' } = Astro.props
const classes = [Variants[variant]]
---

<BgVideoContainer src={src}>
  <BaseContainer
    id={id}
    variant={'hero'}
    class='h-full flex items-center'
    class:list={classes}>
    <div class='max-w-md space-y-12'>
      <BaseText
        variant={'hero'}
        theme={'light'}>
        <slot
          name='header'
          slot='header'>
          No module slot hero-header
        </slot>
        <slot
          name='body'
          slot='body'>
          No module slot hero-body
        </slot>
      </BaseText>

      <LinkButton gradient={'accent_1'}>
        <slot name='cta'> No module slot hero-cta </slot>
      </LinkButton>
    </div>
  </BaseContainer>
</BgVideoContainer>
