---
import { BaseContainer, BaseText, BorderText, Separator, LinkButton } from '@/components'

interface Props {
  id?: string
}

const { id = 'ad-method' } = Astro.props
---

<Separator
  variant={'normal'}
  topColor={'neutral_white'}
  bottomColor={'neutral_dark'}
/>

<BaseContainer
  id={id}
  variant={'section'}
  class='space-y-12 bg-neutral-dark'>
  <BaseText
    variant={'section'}
    theme={'light'}
    class='max-w-3xl'>
    <slot
      name='header'
      slot='header'
      >No module slot header</slot
    >
    <slot
      name='body'
      slot='body'
      >No module slot body</slot
    >
  </BaseText>

  <div class='grid grid-cols-3 grid-rows-2 gap-y-[2px]'>
    <slot name='cards'>no module slot cards</slot>
  </div>

  <LinkButton gradient={'accent_1'}>
    <slot name='cta'>No module slot cta</slot>
  </LinkButton>
</BaseContainer>

<Separator
  variant={'normal'}
  topColor={'neutral_dark'}
  bottomColor={'neutral_white'}
/>
