---
import { IconCard, BaseText, BaseContainer } from '@/components'
import { NotIcon } from '@/assets'

interface Props {
  id?: string
}

const { id } = Astro.props
---

<BaseContainer
  id={id}
  variant={'section'}
  class='flex flex-col justify-between'>
  <BaseText
    variant={'section'}
    theme={'dark'}>
    <slot
      name='header'
      slot='header'
      >No module slot header</slot
    >
    <slot
      name='body'
      slot='body'
      >No module slot body</slot
    >
  </BaseText>

  <div class='grid grid-cols-3 gap-x-6 mt-20'>
    <slot name="cards" />
  </div>
</BaseContainer>
