---
import { Typography, LinkButton, BaseContainer, BlendColorText } from '@/components'

interface Props {
  src: string
  id?: string
}

const { src, id = 'hero' } = Astro.props
---

<!-- <BlendColorText>
  <Fragment slot={'bg'}>
    <video
    autoplay
    muted
    loop
    class='absolute top-0 left-0 object-cover object-center size-full'>
    <source
      src={src}
      type='video/mp4'
    />
  </video>
  </Fragment>
  <Fragment slot={'header'}>transforma tu <strong>visibilidad online</strong>, atraé clientes ideales a través de redes sociales</Fragment>
</BlendColorText> -->


<BaseContainer variant={'hero'} id={id} class='relative pt-12 md:pt-0'>

  <video
    autoplay
    muted
    loop
    class='absolute top-0 left-0 object-cover object-center size-full'>
    <source
      src={src}
      type='video/mp4'
    />
  </video>
  
  <div class='relative flex flex-row-reverse py-40'>
    <div class='max-w-2xl'>
      <Typography
        tag={'p'}
        variant={'spaced'}
        color={'neutral_white'}
        class='mb-3'
        ><slot name='body'>no slot body</slot></Typography
      >
      <Typography
        tag={'p'}
        variant={'banner'}
        color={'neutral_white'}
        ><slot name='header'>no slot header</slot></Typography
      >
  
      <LinkButton
        gradient={'accent_1'}
        class='mt-14'>
        <slot name='cta'> No module slot hero-cta </slot>
      </LinkButton>
    </div>
  </div>
</BaseContainer>

