---
import { Typography, LinkButton, BaseContainer } from '@/components'

interface Props {
  src: string
  id?: string
}

const { src, id = 'hero' } = Astro.props
---
<BaseContainer variant={'hero'} id={id} class='relative'>

  <video
    autoplay
    muted
    loop
    class='absolute top-0 left-0 size-full object-cover object-center'>
    <source
      src={src}
      type='video/mp4'
    />
  </video>
  
  <div class='flex flex-row-reverse relative py-40'>
    <div class='max-w-2xl'>
      <Typography
        as={'p'}
        variant={'spaced'}
        color={'neutral_white'}
        class='mb-3'
        ><slot name='body'>no slot body</slot></Typography
      >
      <Typography
        as={'p'}
        variant={'banner'}
        color={'neutral_white'}
        ><slot name='header'>no slot header</slot></Typography
      >
  
      <LinkButton
        gradient={'accent_1'}
        class='mt-14'>
        <slot name='cta'> No module slot hero-cta </slot>
      </LinkButton>
    </div>
  </div>
</BaseContainer>

