---
import { BaseContainer, Typography, LinkButton, Separator } from '@/components'

interface Props {
  id?: string
}

const { id = 'web-design' } = Astro.props
---

<Separator variant={'normal'} topColor={'neutral_white'} bottomColor={'neutral_dark'}/>
<BaseContainer
  variant={'hero'}
  class='bg-neutral-dark pt-20 pb-32'
  id={id}>
  <Typography
    class='text-center'
    as={'h2'}
    variant={'title'}
    color={'neutral_white'}>
    <slot name='header'> No module slot header </slot>
  </Typography>

  <div class='flex justify-center mt-12 mb-20'>
    <LinkButton gradient={'accent_1'}>
      <slot name='cta'> No module slot cta </slot>
    </LinkButton>
  </div>

  <div class='grid grid-cols-3 gap-x-12'>
    <slot name="cards" />
  </div>
</BaseContainer>
