<footer class='bg-neutral-900 text-white px-12 relative'>
  <section class="absolute left-1/2 top-0 -translate-y-1/2 -translate-x-1/2">
    <div class="flex gap-4 items-center bg-neutral-dark rounded-full px-12 py-4">
      <p>Try for free today</p>
      <a href='#' class="bg-accent-cta-dark px-6 py-3 rounded-full text-neutral-white-less font-semibold">sign up free</a>
    </div>
  </section>

  <section class="grid grid-cols-2 pb-12 pt-20">
    <div class="flex gap-4"><span>Logo</span> <p>joe ui</p></div>
    <ul class="flex gap-4"><li>Ins</li><li>Tik</li><li>Tik</li><li>X</li><li>otro</li></ul>
    <div class='grid grid-cols-2 md:grid-cols-4 row-start-2 md:col-span-2'>
      <ul>
        <li>Resources</li>
        <li>Usage</li>
        <li>Docs</li>
        <li>Support</li>
        <li>Hardware</li>
      </ul>

      <ul>
        <li>Developers</li>
        <li>Forum</li>
        <li>Projects</li>
        <li>Source</li>
        <li>Github</li>
      </ul>

      <ul>
        <li>Pricing</li>
        <li>Plans</li>
        <li>Data</li>
        <li>Volume</li>
        <li>Clients</li>
      </ul>

      <ul>
        <li>Company</li>
        <li>About</li>
        <li>Brand</li>
        <li>Partners</li>
        <li>Careers</li>
      </ul>
    </div>
  </section>
</footer>
