---
import { Logo } from '@/assets'
import { Hamburger, Navbar, SocialMedias } from '@/components'
---

<header class='fixed top-0 z-10 w-full md:sticky'>
  <div class='grid p-6 grid-template-rows md:min-h-screen bg-neutral-700'>
    <section class='flex items-center justify-between'>
      <span class='md:w-full w-28'><Logo /></span>
      <span class='md:hidden'>
        <Hamburger id={'hc-hamburger'} />
      </span>
    </section>

    <section
      id='hc-container'
      class='overflow-y-hidden max-h-0 md:max-h-fit md:mt-6'>
      <div class='flex flex-col justify-between h-full gap-12 mt-4 md:mt-0 md:gap-0'>
        <Navbar />
        <SocialMedias />
      </div>
    </section>
  </div>
</header>

<style>
  .grid-template-rows {
    grid-template-rows: auto 1fr;
  }
</style>

<script>
  const hamburger: HTMLInputElement = document.querySelector('#hc-hamburger')!
  const container: HTMLDivElement = document.querySelector('#hc-container')!

  hamburger.addEventListener('change', () => {
    container.classList.toggle('max-h-0')
  })
</script>
