---
import { type Color, getBackgroundColor } from '@/utils/colors'

const Variants = {
  hero: 'px-12',
  section: 'px-12 mx-auto max-w-6xl',
  card: '',
  button: 'flex items-center',
}

type Variant = keyof typeof Variants
export type { Variant as BaseContainerVariant }

interface Props {
  variant: Variant
  class?: string
  id?: string
  color?: Color
  children: any
}

const { variant, color = 'none', class: className, id = null } = Astro.props
const classes = [Variants[variant]]
const container = [className, getBackgroundColor(color)]
---

<section
  class:list={container}
  id={id}>
  <div class:list={classes}>
    <slot />
  </div>
</section>
