---
const Variants = {
  hero: 'px-12',
  section: 'px-12 mx-auto max-w-6xl',
  card: '',
  button: 'flex items-center',
}

type Variant = keyof typeof Variants
export type { Variant as BaseContainerVariant }

interface Props {
  variant: Variant
  class?: string
  id?: string
  children: any
}

const { variant, class: className, id = null } = Astro.props
const classes = [Variants[variant]]
---

<section
  class:list={className}
  id={id}>
  <div class:list={classes}>
    <slot />
  </div>
</section>
