---
interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<section
  class='animation'
  class:list={className}>
  <slot />
</section>

<style>
  .animation {
    background-color: hsla(228, 89%, 94%, 1);
    background-image: radial-gradient(
        at 98% 96%,
        hsla(233, 71%, 43%, 1) 0px,
        transparent 50%
      ),
      radial-gradient(at 2% 3%, hsla(229, 74%, 53%, 1) 0px, transparent 50%),
      radial-gradient(at 0% 100%, hsla(16, 65%, 71%, 1) 0px, transparent 50%),
      radial-gradient(at 53% 47%, hsla(39, 82%, 74%, 1) 0px, transparent 50%),
      radial-gradient(at 63% 6%, hsla(344, 75%, 78%, 1) 0px, transparent 50%),
      radial-gradient(at 100% 0%, hsla(34, 55%, 66%, 1) 0px, transparent 50%),
      radial-gradient(at 43% 92%, hsla(317, 95%, 72%, 1) 0px, transparent 50%);
    background-size: 300% 300%;
    animation: mesh-gradient 30s linear infinite;
  }

  @keyframes mesh-gradient {
    0% {
      background-position: 0% 0%;
    }

    25% {
      background-position: 0% 100%;
    }

    50% {
      background-position: 100% 100%;
    }

    75% {
      background-position: 100% 0%;
    }

    100% {
      background-position: 0% 0%;
    }
  }
</style>
