---
interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<section
  class='animation'
  class:list={className}>
  <slot />
</section>

<style>
  .animation {
    background-color: #b499ff;
    background-image: radial-gradient(
        at 47% 23%,
        hsla(258, 80%, 62%, 1) 0px,
        transparent 50%
      ),
      radial-gradient(at 5% 33%, hsla(217, 72%, 75%, 1) 0px, transparent 50%),
      radial-gradient(at 14% 7%, hsla(343, 94%, 77%, 1) 0px, transparent 50%),
      radial-gradient(at 98% 10%, hsla(227, 67%, 66%, 1) 0px, transparent 50%),
      radial-gradient(at 63% 82%, hsla(179, 89%, 60%, 1) 0px, transparent 50%),
      radial-gradient(at 59% 35%, hsla(255, 67%, 72%, 1) 0px, transparent 50%),
      radial-gradient(at 1% 17%, hsla(243, 86%, 60%, 1) 0px, transparent 50%);
    background-size: 300% 300%;
    animation: mesh-gradient 30s linear infinite;
  }

  @keyframes mesh-gradient {
    from {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    to {
      background-position: 0% 0%;
    }
  }
</style>
