---
import type { HTMLAttributes } from 'astro/types'
import ArrowIcon from '@astropub/icons/ChevronRight'
import { Typography, GradientContainer } from '@/components'
import { getShadow } from '@/utils/shadows'
import type { Gradient } from '@/types/utils'

interface Props extends HTMLAttributes<'a'> {
  gradient: Gradient
  class?: string
}

const { gradient, href, target, class: className } = Astro.props
const classes = [className, getShadow('card')]
---

<a
  href={href}
  target={target}
  class:list={classes}
  class='cursor-pointer block w-fit rounded-full overflow-hidden active:translate-y-1'>
  <GradientContainer
    variant={'button'}
    gradient={gradient}
    class='hover:text-white hover:from-picton-blue hover:to-picton-blue-400 transition-colors duration-150 px-8 py-2'>
    <Typography
      tag='span'
      variant={'cta'}
      color={'neutral_dark'}>
      <slot>Solicita tu cotización</slot>
    </Typography>
    <ArrowIcon size={24} />
  </GradientContainer>
</a>
