---
import { Typography } from '@/components'

interface Props {
  logoSrc: string
}

const { logoSrc } = Astro.props
---

<article
  class='flex-shrink-0 px-8 py-8 bg-white shadow-lg shadow-black/20 w-80'>
  <div class='mb-4'>
    <img src={logoSrc} alt="Brand logo" class="brightness-0 invert-[0.8] h-12 w-auto">
  </div>

  <div class='mb-16'>
    <Typography
      as={'h3'}
      variant={'body'}
      color={'neutral_dark_less'}
      ><slot name='body' />
    </Typography>
  </div>

  <div>
    <Typography
      as={'p'}
      variant={'sidecard_title'}
      color={'neutral_dark'}
      ><slot name='author' />
    </Typography>

    <Typography
      as={'p'}
      variant={'body'}
      color={'neutral_dark'}
      ><slot name='role' />
    </Typography>
  </div>
</article>
