---
import { BriefForm, BaseContainer, Typography } from '@/components'
---

<BaseContainer variant={'section'}>
  <div class='grid grid-cols-1 gap-x-12 gap-y-12 pt-16 pb-24'>
    <div class='col-span-1'>
      <Typography
        tag={'p'}
        variant={'subtitle'}
        color={'accent_title'}
        ><slot name='pre-header' /></Typography
      >
      <Typography
        tag={'h2'}
        variant={'title'}
        color={'neutral_dark'}
        class='mb-4'
        ><slot name='header' /></Typography
      >
      <Typography
        tag={'p'}
        variant={'body'}
        color={'neutral_dark_less'}
        ><slot name='body' /></Typography
      >
    </div>
    <div class='col-span-1'>
      <BriefForm />
    </div>
  </div>
</BaseContainer>
