---
import { HOME_ANCHORS, PAGES } from '@/data/links'
import { Typography } from '@/components'
---

<nav>
  <ul
    class='flex flex-col gap-4 [&_li]:bg-neutral-600 [&_li]:rounded [&_li]:px-2'>
    <a href={PAGES.index}
      ><Typography
        tag={'li'}
        variant={'sidecard_title'}
        color={'none'}
        class='hover:bg-accent-cta text-neutral-white hover:text-neutral-dark'
        >Inicio</Typography
      ></a
    >
    <a href={HOME_ANCHORS.services}
      ><Typography
        tag={'li'}
        variant={'sidecard_title'}
        color={'none'}
        class='hover:bg-accent-cta text-neutral-white hover:text-neutral-dark'
        >Servicios</Typography
      ></a
    >
    <a href={PAGES.contact}
      ><Typography
        tag={'li'}
        variant={'sidecard_title'}
        color={'none'}
        class='hover:bg-accent-cta text-neutral-white hover:text-neutral-dark'
        >Contactanos</Typography
      ></a
    >
  </ul>
</nav>
