---
import type { Color } from '@/types/utils'
import { getBackgroundColor } from '@/utils/colors'

const Variants = {
  up_top: 'mask-up',
  up_bottom: 'mask-up rotate-180',
  down_top: 'mask-down',
  down_bottom: 'mask-down rotate-180',
}

type Variant = keyof typeof Variants

export type { Variant as SeparatorVariant }

interface Props {
  variant: Variant
  class?: string
  topColor?: Color
  bottomColor?: Color
}

const { variant, class: container, topColor = 'neutral_white', bottomColor='neutral_dark' } = Astro.props

const topClasses = [container, getBackgroundColor(bottomColor)]
const bottomClasses = [Variants[variant], getBackgroundColor(topColor)]
---

<style>
  .mask-up {
    clip-path: polygon(100% 0, 0 0, 0 100%);
  }

  .mask-down {
    clip-path: polygon(100% 0, 0 0, 100% 100%);
  }
</style>

<section
  class='relative w-full min-h-20'
  class:list={topClasses}>
  <div
    class='size-full'
    class:list={bottomClasses}>
  </div>
</section>
