---
import type {} from '@/components/types'

interface Props {
  src: string
}

const { src } = Astro.props
---

<section class='relative overflow-hidden'>
  <div class='size-full'>
    <video
      autoplay
      muted
      loop
      preload='auto'
      class='min-w-full min-h-full'>
      <source
        src={src}
        type={'video/mp4'}
      />
      Tu navegador no admite el elemento <code>video</code>.
    </video>
  </div>

  <div class='absolute top-0 left-0 size-full'>
    <slot />
  </div>
</section>
