---
import { Logo, Navbar } from '@/components'
import type { Link } from '@/components/types'

interface Props {
  links: Link[]
}

const { links } = Astro.props
---

<header class='flex flex-col justify-between h-full'>
  <Logo />
  <Navbar links={links} />
  <div></div>
</header>
