---
import { Footer } from './partials'
import Header from './header/Header.astro'

interface Props {
  title?: string
  description?: string
  keywords?: string
}

const { title = 'No Title', description = 'No Description', keywords = 'No Keywords' } = Astro.props
---

<html lang='es'>
  <head>
    <meta charset='utf-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <meta
      name='description'
      content={description}
    />
    <meta
      name='keywords'
      content={keywords}
    />
    <title>{title}</title>
  </head>

  <body>
    <div class='grid md:grid-cols-12'>
      <aside class='relative md:col-span-2'>
        <Header />
      </aside>

      <aside class='grid md:col-span-10 grid-template-rows'>
        <main>
          <slot />
        </main>
        <Footer />
      </aside>
    </div>
  </body>
</html>

<style>
  .grid-template-rows {
    grid-template-rows: 1fr auto;
  }
</style>
