---
import { Header, Footer } from './partials'

interface Props {
  title?: string
  description?: string
  keywords?: string
}

const { title = 'No Title', description = 'No Description', keywords = 'No Keywords' } = Astro.props
---

<html lang='es'>
  <head>
    <meta charset='utf-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <meta
      name='description'
      content={description}
    />
    <meta
      name='keywords'
      content={keywords}
    />
    <title>{title}</title>
  </head>

  <body>
    <div class='grid md:grid-cols-12'>
      <aside class='md:col-span-2 relative md:h-screen'>
        <Header />
      </aside>

      <aside class='md:col-span-10 main-container'>
        <main>
          <slot />
        </main>
        <Footer />
      </aside>
    </div>
  </body>
</html>

<style>
  .main-container {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 100%;
    min-height: 100dvh;
  }
</style>