---
import { Header, Footer } from './partials'

interface Props {
  title?: string
  description?: string
  keywords?: string
}

const { title = 'No Title', description = 'No Description', keywords = 'No Keywords' } = Astro.props
---

<html lang='es'>
  <head>
    <meta charset='utf-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <meta
      name='description'
      content={description}
    />
    <meta
      name='keywords'
      content={keywords}
    />
    <title>{title}</title>
  </head>

  <body>
    <div class='grid grid-cols-12'>
      <aside class='col-span-2 relative min-w-40'>
        <Header />
      </aside>

      <aside class='col-span-10'>
        <main>
          <slot />
        </main>
        <Footer />
      </aside>
    </div>
  </body>
</html>
