---
import { Header, Footer } from './components'

interface Props {
  title?: string
  desc?: string
  keywords?: string
}

const {
  title = 'No Title',
  desc = 'No Description',
  keywords = 'No Keywords',
} = Astro.props
---

<html lang='es'>
  <head>
    <meta charset='utf-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <meta
      name='description'
      content={desc}
    />
    <meta
      name='keywords'
      content={keywords}
    />
    <title>{title}</title>
  </head>

  <body>
    <div class='grid grid-cols-12'>
      <aside class='col-span-2 relative min-w-40'>
        <div class='sticky h-screen w-full top-0 left-0 p-6 bg-neutral-700'>
          <Header />
        </div>
      </aside>

      <main class='col-span-10'>
        <slot />
        <Footer />
      </main>
    </div>
  </body>
</html>
