---
interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<div class:list={className}>
  <div class='w-[800px] overflow-hidden'>
    <iframe
      src='https://javitodev1.github.io/Github-Globe/'
      width='3000'
      height='3000'
      title='globe'
      id='globe'
      class=''
    ></iframe>
  </div>
</div>
