---
import * as module from './modules'
---

<module.FooterContainer>
  <module.CtaContainer>
    <Fragment slot={'header'}>Try for free today</Fragment>
    <Fragment slot={'cta'}>sign up free</Fragment>
  </module.CtaContainer>

  <module.ContentContainer>
    <div class='flex gap-4'><span>Logo</span> <p>joe ui</p></div>
    <ul class='flex gap-4'><li>Ins</li><li>Tik</li><li>Tik</li><li>X</li><li>otro</li></ul>
    <div class='grid grid-cols-2 md:grid-cols-4 row-start-2 md:col-span-2'>
      <ul>
        <li>Resources</li>
        <li>Usage</li>
        <li>Docs</li>
        <li>Support</li>
        <li>Hardware</li>
      </ul>

      <ul>
        <li>Developers</li>
        <li>Forum</li>
        <li>Projects</li>
        <li>Source</li>
        <li>Github</li>
      </ul>

      <ul>
        <li>Pricing</li>
        <li>Plans</li>
        <li>Data</li>
        <li>Volume</li>
        <li>Clients</li>
      </ul>

      <ul>
        <li>Company</li>
        <li>About</li>
        <li>Brand</li>
        <li>Partners</li>
        <li>Careers</li>
      </ul>
    </div>
  </module.ContentContainer>
</module.FooterContainer>
