---
import {
  LinkCard,
  BorderText,
  BaseText,
  LinkButton,
  Separator,
  Typography,
  IconCard,
  BgVideoContainer,
} from '@/components'
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>Document</title>
  </head>
  <body class="px-12">
    <section>
      <h2>Typographics</h2>
      <Typography
        as={'p'}
        variant={'big_number'}
        color={'neutral_dark'}
        >0123456789</Typography
      >
      <Typography
        as={'p'}
        variant={'banner'}
        color={'neutral_dark'}
        >Banner</Typography
      >
      <Typography
        as={'p'}
        variant={'title'}
        color={'neutral_dark'}
        >title</Typography
      >
      <Typography
        as={'p'}
        variant={'subtitle'}
        color={'neutral_dark'}
        >subtitle</Typography
      >
      <Typography
        as={'p'}
        variant={'body_number'}
        color={'neutral_dark'}
        >Body Number</Typography
      >
      <Typography
        as={'p'}
        variant={'sidecard_title'}
        color={'neutral_dark'}
        >sidecard title</Typography
      >
      <Typography
        as={'p'}
        variant={'body'}
        color={'neutral_dark'}
        >Body</Typography
      >
      <Typography
        as={'p'}
        variant={'sidecard_body'}
        color={'neutral_dark'}
        >sidecard body</Typography
      >
      <Typography
        as={'p'}
        variant={'cta'}
        color={'neutral_dark'}
        >cta text</Typography
      >
    </section>

    <section>
      <h2>Link Buttons</h2>
      <LinkButton gradient={'accent_1'} />
    </section>

    <section>
      <h2>Separators</h2>
      <div class='bg-neutral-500 py-4'>
        <Separator variant={'down_top'} />
        <Separator variant={'down_bottom'} />

        <hr class='my_12' />

        <Separator variant={'up_top'} />
        <Separator variant={'up_bottom'} />
      </div>
    </section>

    <section>
      <h2>TextArticles</h2>
      <BaseText
        variant={'hero'}
        theme={'dark'}
      />
      <hr />

      <BaseText
        variant={'section'}
        theme={'dark'}
      />
      <hr />

      <BaseText
        variant={'card'}
        theme={'dark'}
      />
      <hr />

      <BaseText
        variant={'sidecard'}
        theme={'dark'}
      />
      <hr />

      <div class='bg-neutral-dark'>
        <BaseText
          variant={'hero'}
          theme={'light'}
        />
        <hr />

        <BaseText
          variant={'section'}
          theme={'light'}
        />
        <hr />

        <BaseText
          variant={'card'}
          theme={'light'}
        />
        <hr />

        <BaseText
          variant={'sidecard'}
          theme={'light'}
        />
        <hr />
      </div>
      <hr />
    </section>

    <h2>Link Card</h2>
    <section>
      <div class='grid grid-cols-3 gap-x-4 gap-y-12'>
        <LinkCard
          variant={'dark'}
          shape={'full'}
        />
        <LinkCard
          variant={'dark'}
          shape={'full'}
        />
        <LinkCard
          variant={'dark'}
          shape={'full'}
        />

        <LinkCard
          variant={'light'}
          shape={'full'}
        />
        <LinkCard
          variant={'light'}
          shape={'full'}
        />
        <LinkCard
          variant={'light'}
          shape={'full'}
        />
      </div>
    </section>

    <section class='px-12 bg-neutral-400'>
      <h2>Border Text</h2>
      <div class='bg-neutral-dark'>
        <BorderText
          variant={'sidecard'}
          theme={'light'}
          side={'both'}
          style={'dotted'}
        />
        <BorderText
          variant={'sidecard'}
          theme={'light'}
          side={'left'}
          style={'solid'}
        />
      </div>
      <BorderText
        variant={'sidecard'}
        theme={'dark'}
        side={'both'}
        style={'dotted'}
      />
      <BorderText
        variant={'sidecard'}
        theme={'dark'}
        side={'left'}
        style={'solid'}
      />

      <div class='bg-neutral-dark'>
        <BorderText
          variant={'sidecard'}
          theme={'light'}
          side={'bold_both'}
          style={'dotted'}
        />
        <BorderText
          variant={'sidecard'}
          theme={'light'}
          side={'bold_left'}
          style={'solid'}
        />
      </div>
      <BorderText
        variant={'sidecard'}
        theme={'dark'}
        side={'bold_both'}
        style={'dotted'}
      />
      <BorderText
        variant={'sidecard'}
        theme={'dark'}
        side={'bold_left'}
        style={'solid'}
      />
    </section>
    <section>
      <h2>Icon Cards</h2>
      <div class='grid grid-cols-3 gap-12'>
        <IconCard
          variant={'dark'}
          shape={'full'}
        />
        <IconCard
          variant={'light'}
          shape={'full'}
        />
      </div>
    </section>

    <BgVideoContainer src='/videos/loop-fire.mp4'>
      <section class="text-white text-4xl">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum vel fugiat beatae. Reprehenderit ipsum atque odio doloribus quo, distinctio velit, quaerat odit hic consectetur officiis, sint assumenda quos modi labore.</section>
      <section class="text-white text-4xl">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum vel fugiat beatae. Reprehenderit ipsum atque odio doloribus quo, distinctio velit, quaerat odit hic consectetur officiis, sint assumenda quos modi labore.</section>
      <section class="text-white text-4xl">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum vel fugiat beatae. Reprehenderit ipsum atque odio doloribus quo, distinctio velit, quaerat odit hic consectetur officiis, sint assumenda quos modi labore.</section>
    </BgVideoContainer>
  </body>
</html>

<style>
  section {
    margin: 32px 0;
  }

  h2 {
    font-weight: 800;
    font-size: 3rem;
  }
</style>
